.chatView-sm{
  width: 300px;
  height: 350px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.chat-interior-sm{
  border-radius: 5px;
    background: #1060a5;
    padding: 0px;
    width:100%;
    height: 100%;
}

.chat-title-sm {
  height: 80px;
  width: 100%;
  color: white;
  background-color: #1060a5;
}
.chat-content-sm p {
   margin-bottom: 5px;
}
.chat-content-sm {
  font-size: 11px;
  height:245px;
  width: 100%;
  background-color: #f4f8f8;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}

.chat-input-sm {
  height:35px;
  background-color: white;
}

.chatView-m{
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10px;
  right: 10px;

  background-image: url("res/minim.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.chat-interior-m{
  border-radius: 5px;
    background: rgba(201, 76, 76, 0);
    padding: 7px;
    width:100%;
    height: 30px;
}

.chat-title-m {
  height: 80px;
  width: 100%;
  color: rgba(201, 76, 76, 0);
  background-color: rgba(201, 76, 76, 0);
}

.chat-title-m img {
  height: 0;
  width: 0;
}

.chat-content-m {
  height:0px;
  width: 100%;
  background-color: rgba(201, 76, 76, 0);
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.chat-input-m {
  height:0px;
  background-color: rgba(201, 76, 76, 0);
}

.chatView-lg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10000;
}

.chat-interior-lg{
    background: #1060a5;
    padding: 0px;
    width:100%;
    height: 100%;
}

.chat-title-lg {
  height: 80px;
  width: 100%;
  color: white;
  background-color: #1060a5;
}

.chat-content-lg p {
  margin-bottom: 5px;
}

.chat-content-lg {
  height: calc(100% - 125px);
  width: 100%;
  background-color: #f4f8f8;;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
}

.chat-input-lg {
  height:50px;
  background-color: white;
}


.mess-in {
  float: left;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 15px;
  /*margin-right: 150px;*/
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 5px;
}

.mess-out {
  text-align: right;
  float: right;
  padding-top: 5px;
  margin-bottom: 15px;
  /*margin-left: 150px;*/
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #d7d7d7;
}
