<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="chatController.js"></script>
<div class="chatView-m" id="chatView" ng-app="alliChat" ng-controller="chatController">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="chatView.css" rel="stylesheet">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <div class="chat-interior-m" id="chat-interior" style="">
    <div class="chat-title-m row" id="chat-title" style="margin: 0;">
      <div class="image-container col-md-9 col-sm-9 col-xs-9">
        <img src="res/logo.png" style="height: 50%; margin-left: 0px; margin-top:20px"/>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
      </div>
    </div>
    <div class="chat-content-m" id="chat-content" style="" scrollToBottom="" id="conversationDiv">
      <!-- AQUI VA LA CONVO -->
      <div class="row container-fluid" style="margin: 0; padding: 0;">
        <div ng-repeat="msgItem in messages" class="col-xs-12 col-md-12 col-lg-12">
          <div class="{{msgItem.type}} " >
            <p ng-bind-html="msgItem.message"></p>
          </div>
        </div>
        <div class="" style="height: 100px;">
        <a id="bottom" ></a>
        </div>
      </div>

    </div>
    <div class="chat-input-m" id="chat-input">
      <div class="input-group" style="">
        <input ng-keyup="$event.keyCode == 13 ? submitMessage(entrie) : null" ng-model="entrie" id="chatInput" type="text" class="form-control" placeholder="Escribe algo..." style="width: 80%; height: 100%; border: none;">
        <!-- <a ng-click="submitMessage(entrie)" href="#" style="width:19.9%; height: 100%;">Enviar</a> -->
        <img src="res/send.png" ng-click="submitMessage(entrie)" style="height: 25px; padding-top: 5px; padding-right: 10px; display: block; margin-left: auto; margin-right: auto;"/>
      </div>
    </div>
  </div>



</div>

<script type="text/javascript">

</script>


</html>
